.main_div {
  border: 2px solid red;
  width: 30%;
  margin: auto;
  text-align: center;
  height: 500px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.main_div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
img {
  width: 80%;
}

p {
  padding: 10px;
}
h1 {
  text-align: center;
}
